/*
flicksfromthepast Bootstrap Sass Theme
Author: Christine Wong
Ver: 0.0.1
*/
/* BASE - styles, variables, mixins, etc */
/* line 3, ../scss/base/_base.scss */
.main {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

/* line 9, ../scss/base/_base.scss */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/preloader_5.gif) center no-repeat white;
}

/* line 20, ../scss/base/_base.scss */
body {
  max-width: 1000px;
  margin: 0 auto !important;
  display: block;
  position: relative;
}

/* MODULES - Individual site components */
/* line 17, ../scss/modules/_typography.scss */
.title_slide {
  font-size: 3rem;
  font-family: "Cabin Sketch", cursive;
  padding: 1rem;
}

/* line 22, ../scss/modules/_typography.scss */
.title_slide h1 {
  font-weight: 700;
}

/* line 26, ../scss/modules/_typography.scss */
.title_h1 {
  color: black;
}

/* line 30, ../scss/modules/_typography.scss */
.best_sellers h1 {
  margin-top: 2rem;
  background: #aa000c;
  color: white;
  text-align: center;
  font-family: "Cabin Sketch", cursive;
  padding: 1rem 0;
  font-size: 5rem;
}

/* line 39, ../scss/modules/_typography.scss */
.title h4 {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  margin-bottom: 4rem;
}

/* line 45, ../scss/modules/_typography.scss */
.best_sellers h3 {
  font-weight: 600;
}

/* line 49, ../scss/modules/_typography.scss */
.page3 h4 {
  text-transform: uppercase;
}

/* line 52, ../scss/modules/_typography.scss */
article p {
  font-size: 1.3rem;
}

/* line 55, ../scss/modules/_typography.scss */
article {
  text-align: justify;
}

/* line 60, ../scss/modules/_typography.scss */
.fa-facebook-official:hover {
  color: #324c8d;
}

/* line 64, ../scss/modules/_typography.scss */
.fa-twitter:hover {
  color: #058df1;
}

/* line 67, ../scss/modules/_typography.scss */
.fa-youtube:hover {
  color: #d21a1d;
}

@media screen and (max-width: 768px) {
  /* line 72, ../scss/modules/_typography.scss */
  .title_slide {
    font-size: 1.5rem;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* line 1, ../scss/modules/_buttons.scss */
.navbar-toggle {
  background-color: black !important;
  border: none;
}

/* line 6, ../scss/modules/_buttons.scss */
.navbar-toggle:hover {
  background-color: #aa000c !important;
}

/* line 1, ../scss/modules/_sections.scss */
.item img {
  margin: auto;
  z-index: 5;
  width: 100%;
}

/* line 8, ../scss/modules/_sections.scss */
.carousel-inner {
  max-width: 100%;
  height: 80vh;
  margin-top: 5rem;
}

/* line 13, ../scss/modules/_sections.scss */
.carousel_1 {
  position: relative;
  width: 95%;
  margin: auto;
}

/* line 18, ../scss/modules/_sections.scss */
.carousel-caption {
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
}

/* line 25, ../scss/modules/_sections.scss */
.title_slide {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 15%;
}

/* line 29, ../scss/modules/_sections.scss */
#background {
  width: 100%;
}

/* line 34, ../scss/modules/_sections.scss */
.page2 h3 {
  padding-bottom: 4rem;
}

/* line 39, ../scss/modules/_sections.scss */
#logoParade, #logoParadeTwo, #logoParadeThree {
  width: 100%;
  height: 200px;
  position: relative;
}

/* line 44, ../scss/modules/_sections.scss */
div.scrollableArea a {
  display: block;
  padding-right: 25px;
  float: left;
}

/* line 49, ../scss/modules/_sections.scss */
.scrollableArea a img {
  max-height: 200px;
}

/* line 53, ../scss/modules/_sections.scss */
#logoParade {
  margin-bottom: 5rem;
}

/* line 57, ../scss/modules/_sections.scss */
.latest_reviews {
  position: relative;
  background: black;
  color: white;
  padding: 4rem 5rem;
  width: 100%;
  margin: 0 auto;
}

/* line 65, ../scss/modules/_sections.scss */
.latest_reviews h2 {
  border-bottom: 1px solid #9d9fa3;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1rem;
  text-transform: uppercase;
}

/* line 73, ../scss/modules/_sections.scss */
article:nth-child(1) {
  width: 45%;
  overflow: hidden;
  float: left;
  max-height: none;
}

/* line 81, ../scss/modules/_sections.scss */
article img {
  width: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: 2px solid #64c2b0;
  float: left;
  margin: 0 1.5rem 1rem 0;
}

/* line 89, ../scss/modules/_sections.scss */
.reviews {
  display: block;
}

/* line 92, ../scss/modules/_sections.scss */
article {
  width: 50%;
  float: right;
  overflow: hidden;
}

/* line 99, ../scss/modules/_sections.scss */
.articles a, .quarter_width a {
  text-decoration: none;
  display: block;
  color: #9d9fa3;
}

/* line 105, ../scss/modules/_sections.scss */
.chasing_amy img, .quarter_width img {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom: 2px solid #64c2b0;
  width: 100%;
  border-right: none;
  border-bottom-left-radius: 0;
}

/* line 113, ../scss/modules/_sections.scss */
.quarter_width img {
  height: 160px;
}

/* line 116, ../scss/modules/_sections.scss */
.chasing_amy img {
  height: 100%;
}

/* line 120, ../scss/modules/_sections.scss */
.quarter_width {
  width: 30%;
  margin-right: 3%;
  margin-bottom: 2rem;
  height: 350px;
  overflow: hidden;
}

/* line 128, ../scss/modules/_sections.scss */
.quarter_width:nth-child(3n+0) {
  margin-right: 3%;
}

/* line 133, ../scss/modules/_sections.scss */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
}

/* line 141, ../scss/modules/_sections.scss */
.big_image_left {
  float: left;
  padding-bottom: 2rem;
}

/* line 147, ../scss/modules/_sections.scss */
.big_image_right {
  float: right;
}

/* line 150, ../scss/modules/_sections.scss */
article:hover a h4 {
  color: #e61277;
}

/* line 154, ../scss/modules/_sections.scss */
.tron {
  width: 100%;
}

/* line 158, ../scss/modules/_sections.scss */
.tron img {
  width: 45%;
  height: 160px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: none;
  border-right: 2px solid #64c2b0;
  margin-right: 3rem;
}

/* line 168, ../scss/modules/_sections.scss */
.tron h4 {
  padding-top: 2rem;
}

/* line 172, ../scss/modules/_sections.scss */
.clearfix {
  clear: both;
}

/* line 176, ../scss/modules/_sections.scss */
.latest_features {
  text-align: justify;
  padding-right: 3.5%;
}

/* line 181, ../scss/modules/_sections.scss */
.more {
  float: right;
  border: 1px solid #9d9fa3;
  padding: 1rem;
  transition: background-color 0.5s ease;
}

/* line 187, ../scss/modules/_sections.scss */
.more a {
  color: #9d9fa3;
}

/* line 190, ../scss/modules/_sections.scss */
.more:hover {
  background: #e61277;
  border: 1px solid white;
}

/* line 195, ../scss/modules/_sections.scss */
.more:hover a {
  color: white;
}

@media screen and (max-width: 768px) {
  /* line 200, ../scss/modules/_sections.scss */
  article {
    width: 100% !important;
  }

  /* line 203, ../scss/modules/_sections.scss */
  .quarter_width img {
    height: 10%;
    width: 50%;
  }

  /* line 204, ../scss/modules/_sections.scss */
  .quarter_width {
    height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles */
  /* line 209, ../scss/modules/_sections.scss */
  .form-control {
    font-size: 10px;
    padding: 3px 8px;
  }

  /* line 210, ../scss/modules/_sections.scss */
  .navbar-form {
    padding: 0;
    margin: 5px;
  }

  /* line 211, ../scss/modules/_sections.scss */
  .shrink .navbar-brand {
    font-size: 1.8rem !important;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 217, ../scss/modules/_sections.scss */
  .navbar li {
    font-size: 1.3rem !important;
  }

  /* line 218, ../scss/modules/_sections.scss */
  .shrink .navbar-brand {
    font-size: 2rem !important;
  }
}
/* Large devices (large desktops, 1200px and up) */
/* LAYOUTS - Page laout styles */
/* line 1, ../scss/layouts/_nav.scss */
.navbar-sub li {
  padding-bottom: 1rem;
}

/* line 4, ../scss/layouts/_nav.scss */
.navbar {
  margin-bottom: 0;
}

/* line 7, ../scss/layouts/_nav.scss */
.navbar-inverse {
  border-radius: 0;
  background-color: black;
  width: 100%;
  border-color: none;
  z-index: 15;
  transition: font-size 1s, position 1s, background-color 1s, font-weight 1s;
}

/* line 16, ../scss/layouts/_nav.scss */
.shrink {
  font-weight: 700;
  position: fixed;
  background-color: white;
  color: black;
  left: 0;
}

/* line 26, ../scss/layouts/_nav.scss */
.shrink .active > a,
.shrink .active > a,
.shrink .active > a:focus {
  background: rgba(250, 250, 250, 0) !important;
  color: #aa000c !important;
}

/* line 31, ../scss/layouts/_nav.scss */
#navbar li {
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* line 35, ../scss/layouts/_nav.scss */
.shrink a {
  color: black !important;
}

/* line 38, ../scss/layouts/_nav.scss */
.shrink .navbar-brand {
  font-size: 2rem;
}

/* line 41, ../scss/layouts/_nav.scss */
.shrink a:hover {
  color: #aa000c !important;
}

/* line 44, ../scss/layouts/_nav.scss */
.navbar-inverse {
  border: none !important;
}

/* line 48, ../scss/layouts/_nav.scss */
.container {
  width: 100%;
  max-width: 1000px;
  padding: 10px 20px;
}

/* line 1, ../scss/layouts/_header.scss */
header {
  height: 100vh;
  min-width: 100%;
  left: 0;
  color: white;
  background-color: black;
  overflow: hidden;
}

/* line 10, ../scss/layouts/_header.scss */
header p {
  color: white;
  padding-top: 5rem;
}
