/*
flicksfromthepast Bootstrap Sass Theme
Author: Christine Wong
Ver: 0.0.1
*/
/* BASE - styles, variables, mixins, etc */
/* line 3, ../scss/base/_base.scss */
.main {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

/* line 9, ../scss/base/_base.scss */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/preloader_5.gif) center no-repeat white;
}

/* MODULES - Individual site components */
/* line 12, ../scss/modules/_typography.scss */
.title_slide {
  font-size: 3rem;
  font-family: "Cabin Sketch", cursive;
  padding: 1rem;
}

/* line 17, ../scss/modules/_typography.scss */
.title_slide h1 {
  font-weight: 700;
}

/* line 21, ../scss/modules/_typography.scss */
.title_h1 {
  color: black;
}

/* line 25, ../scss/modules/_typography.scss */
.best_sellers h1 {
  margin-top: 2rem;
  background: #aa000c;
  color: white;
  text-align: center;
  font-family: "Cabin Sketch", cursive;
  padding: 1rem 0;
  font-size: 5rem;
}

/* line 35, ../scss/modules/_typography.scss */
.best_sellers h3 {
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  /* line 40, ../scss/modules/_typography.scss */
  .title_slide {
    font-size: 1.5rem;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* line 1, ../scss/modules/_buttons.scss */
.navbar-toggle {
  background-color: black !important;
  border: none;
}

/* line 6, ../scss/modules/_buttons.scss */
.navbar-toggle:hover {
  background-color: #aa000c !important;
}

/* line 1, ../scss/modules/_sections.scss */
.item img {
  margin: auto;
  z-index: 5;
  width: 100%;
}

/* line 8, ../scss/modules/_sections.scss */
.carousel-inner {
  max-width: 100%;
  height: 80vh;
  margin-top: 5rem;
}

/* line 13, ../scss/modules/_sections.scss */
.carousel_1 {
  position: relative;
  width: 95%;
  margin: auto;
}

/* line 18, ../scss/modules/_sections.scss */
.carousel-caption {
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
}

/* line 25, ../scss/modules/_sections.scss */
.title_slide {
  background: rgba(0, 0, 0, 0.5);
  margin-top: 15%;
}

/* line 29, ../scss/modules/_sections.scss */
#background {
  width: 100%;
}

/* line 34, ../scss/modules/_sections.scss */
.page2 {
  width: 95%;
  margin: auto;
}

/* line 39, ../scss/modules/_sections.scss */
.page2 h3 {
  padding-bottom: 4rem;
}

/* line 44, ../scss/modules/_sections.scss */
#logoParade, #logoParadeTwo, #logoParadeThree {
  width: 100%;
  height: 200px;
  position: relative;
}

/* line 49, ../scss/modules/_sections.scss */
div.scrollableArea a {
  display: block;
  padding-right: 25px;
  float: left;
}

/* line 54, ../scss/modules/_sections.scss */
.scrollableArea a img {
  max-height: 200px;
}

/* LAYOUTS - Page laout styles */
/* line 1, ../scss/layouts/_nav.scss */
.navbar-sub li {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/* line 5, ../scss/layouts/_nav.scss */
.navbar {
  margin-bottom: 0;
}

/* line 8, ../scss/layouts/_nav.scss */
.navbar-inverse {
  border-radius: 0;
  background-color: black;
  width: 100%;
  border-color: none;
  z-index: 15;
  transition: font-size 1s, position 1s, background-color 1s, font-weight 1s;
}

/* line 17, ../scss/layouts/_nav.scss */
.shrink {
  font-size: 1.5rem;
  font-weight: 700;
  position: fixed;
  background-color: white;
  color: black;
}

/* line 27, ../scss/layouts/_nav.scss */
.shrink .active > a,
.shrink .active > a,
.shrink .active > a:focus {
  background: rgba(250, 250, 250, 0) !important;
  color: #aa000c !important;
}

/* line 32, ../scss/layouts/_nav.scss */
.shrink a {
  color: black !important;
}

/* line 35, ../scss/layouts/_nav.scss */
.shrink a:hover {
  color: #aa000c !important;
}

/* line 38, ../scss/layouts/_nav.scss */
.navbar-inverse {
  border: none !important;
}

/* line 1, ../scss/layouts/_header.scss */
header {
  height: 100vh;
  min-width: 100%;
  left: 0;
  color: white;
  background-color: black;
  overflow: hidden;
}

/* line 10, ../scss/layouts/_header.scss */
header p {
  color: white;
  padding-top: 5rem;
}
